* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media(max-width: 1444px){
    html {
        font-size: 80%;
    }
}
@media(max-width: 1244px){
    html {
        font-size: 70%;
    }
}
@media(max-width: 1080px){
    html {
        font-size: 60%;
    }
}
@media(max-width: 768px){
    html {
        font-size: 50%;
    }
}


body, html {
    background: #EEEEEE;
    color: #666;
    height: 100%;
}
